/* attendance/AttendanceCircle.css */

.attendance-circle-container {
    position: relative;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto; 
}

.attendance-circle-svg {
    position: absolute;
    top: 0;
    left: 0;
}


.circle-background {
    fill: none;
    stroke: #a9e7f5; 
}


.circle-progress {
    fill: none;
    
}


.percentage-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
    text-align: center;
}

.percentage-text .value {
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
}

.percentage-text .label {
    font-size: 8px;
    color: #8ab1f5; 
    margin-top: 5px;
    text-transform: uppercase;
    white-space: nowrap;
}